{% set postUrl = ( 'news/' ~ post.categories[0].slug ~ '/' ~ post.slug )|app %}
<div class="blog-compact">
    <a href="{{ postUrl }}">
        <div class="post-image" style="background-image: url({{ post.featured_images[0] ? post.featured_images[0].path : 'assets/images/logo-pattern.png'|theme }}); background-size: {{ post.featured_images[0] ? 'cover' : '150px auto' }}; background-position: 50% 50%; background-repeat: no-repeat;">
            <img style="display: none;" class="img-responsive" data-src="{{ post.featured_images[0].path }}" alt="{{ post.user.first_name }} {{ post.user.last_name }}">
        </div>

        <div class="blog-info">
            <p class="blog-cate">{{ post.categories[0].name }}</p>
            <p class="blog-post-date">{{ post.published_at|date('d-m-Y') }}</p>
        </div>

        <h5>{{ str_limit( post.title, 50, '...' ) }}</h5>
        <p class="blog-creator">
            <span><img src="{{ post.user.avatar.path }}" alt="" onerror="this.src='{{ 'assets/images/october.png'|theme }}'"></span> {{ post.user.first_name }} {{ post.user.last_name }}
        </p>

        <p class="blog-excerpt">{% if post.excerpt %}{{ str_limit( post.excerpt, 150, '...' ) }}{% else %}{{ str_limit( post.summary, 150, '...' ) }}{% endif %}</p>
    </a>
</div>