title = "Tin Tức"
url = "/news/:slug?"
layout = "default"

[blogPosts]
categoryFilter = {{ :slug }}
postsPerPage = 8
==

<section id="layout-title">
    <div class="container">
        <h3>Tin Tức</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-9">

            {% if posts.count > 0 %}
                {% for post in posts %}
                    {% set postUrl = ( 'news/' ~ post.categories[0].slug ~ '/' ~ post.slug )|app %}
                    <div class="blog">
                        <img src="{{ post.user.avatar.path|app }}" alt="">
                        <div class="blog-desc">
                            <h5>
                                <a href="{{ postUrl }}">{{ post.title }}</a>
                            </h5>
                            <hr />
                            <p class="text-muted"><span>{{ post.user.first_name }} {{ post.user.last_name }}</span>&nbsp;/&nbsp;{{ post.published_at|date('d-m-Y') }}</p>
                            <a href="{{ postUrl }}"><img class="img-responsive" src="{{ post.featured_images[0].path }}" data-src="{{ post.featured_images[0].path }}" /></a>
                            <p>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ str_limit( post.summary, 250, '...' ) }}{% endif %}</p>
                            <a class="btn btn-lg btn-default" href="{{ postUrl }}">Xem chi tiết...</a>
                        </div>
                    </div>
                {% endfor %}
                <!-- Pagination -->
                {% partial "blog/pagination"
                    base='news?page='
                    total=posts.total()
                    perPage=posts.perPage()
                    first=""
                    last=posts.lastPage()
                    current=posts.currentPage()
                    hasMorePages=posts.hasMorePages()
                    nextPageUrl=posts.nextPageUrl()
                    prevPageUrl=posts.previousPageUrl()
                %}
            {% else %}
                <p class="no-posts">Chưa có bài viết</p>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3">

            {% partial 'blog/sidebar' %}

        </div>
    </div>
</div>