title = "Post"
url = "/news/:cate/:slug"
layout = "default"

[blogPost]
slug = "{{ :slug }}"
noPostMessage = "Post not found."

[blogPosts]
postsPerPage = 3
categoryFilter = {{ ":cate" }}
noPostsMessage = "No posts found."
sortOrder = "starred desc, published_at desc"
==
{% if post.featured_images[0]  %}
    <section id="layout-title" style="background: url({{ post.featured_images[0].path }}) no-repeat center center; background-size: cover;">
{% else %}
    <section id="layout-title" style="background: #efefef url({{ 'assets/images/logo-pattern.png'|theme }}) repeat 0 0 ;">
{% endif %}
    <div class="container">
        <h3>{{ post.title }}</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="blog">
                <img src="{{ post.user.avatar.path|app }}" alt="">
                <div class="blog-desc">
                    <h5>{{ post.title }}</h5>
                    <hr />
                    <p><strong>{{ post.excerpt }}</strong></p>
                    <p class="text-muted"><span>{{ post.user.first_name }} {{ post.user.last_name }}</span>&nbsp;/&nbsp;{{ post.published_at|date('d-m-Y') }}</p>
                    <p class="featured-image"><a href="{{ 'blog/post'|page }}"><img class="img-responsive" src="{{ post.featured_images[0].path }}" data-src="{{ post.featured_images[0].path }}" alt=""></a></p>
                    <div class="html-content">
                        {{ post.content_html|raw }}
                    </div>
                </div>
            </div>

            {% if posts.count > 0 %}
                <h4 class="headline"><span>Các Tin Liên Quan</span></h4>
                <div class="blog-roll">
                {% for post in posts %}
                    {% set postUrl = ( 'news/' ~ post.categories[0].slug ~ '/' ~ post.slug )|app %}

                    {% partial "blog/blog-compact" post=post %}
                {% endfor %}
                </div>
            {% endif %}

            <div class="clearfix"></div>

        </div>
        <div class="col-sm-3">

            {% partial 'blog/sidebar' %}

        </div>
    </div>
</div>
